body {
  background: $light-gray;
}

img {
  width: 100%;
}

.blue-btn {
  background: $blue;
  padding: 5px 10px;
  color: $white;
  text-align: center;

  border: 0;
  outline: 0;
  border-radius: 0;
}