.delicious-restaurant {
  font-weight: bold;
  font-size: scaled-value($text_size--base, 20, 1px);
  line-height: scaled-value($text_size--base, 20, 1px);
}

.content {
  margin-top: $header-height;
  padding: $main-content-padding;


  .meals {
    margin-top: $main-content-padding;
    max-width: 100%;

    .meal {
      background: $white;
      margin-bottom: 20px;

      .meal-top {
        position: relative;
        text-align: center;

        .meal-image {}

        .meal-price-wrapper {
          position: absolute;
          width: 100%;
          top: 0;
          .meal-price {
            &.pound:before {
              content:$pound;
            }
            min-width: 30px;
            display: inline-block;
          }
        }

        .meal-name-tag {
          position: absolute;
          bottom: 0;
          width: 100%;
          font-size: 0;

          .card-curve {
            &.transparent {
              opacity: 0.8;
            }
          }

          .meal-name {
            line-height: 30px;
          }

          .meal-name-wrapper {
            background: rgb(255, 255, 255); /* fallback */
            background: rgba(255, 255, 255, 0.8);

            .meal-name-content {
              position: relative;

              .meal-tags-wrapper {
                float: right;
                position: relative;
                left: -50%;
                text-align: left;
                bottom: 0;
                height: 10px;
                .meal-tags {
                  position: relative;
                  left: 50%;
                  width: 100%;
                  li {
                    float: left;
                    position: relative;
                    img {
                      width: 25px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .meal-description {
        background: $white;
        padding: 10px 20px;
      }

      .meal-add-to-order{
        background: $white;
        text-align: center;

        padding: 10px 20px;

        .blue-btn {
          cursor: pointer;
          width: 100%;
        }
      }

    }
  }
}