//colors
$white: #fff;

$red: #c83c3c;
$dark-red: #c2182d;
$darker-red: #830c0e;
$light-red: #d75050;

$gray: #777777;
$light-gray: #f7f7f7;

$blue: #446bf1;

//Text color
$default-text-color: $gray;


//header
$header-bg-color: $red;
$header-components-bg-color: $dark-red;
$header-components-border-color: $light-red;

$header-height: 55px;

$main-content-padding: 20px;


//css iso symbol
$pound:"\00a3";