//colors
$white: #fff;

$red: #c83c3c;
$dark-red: #c2182d;
$light-red: #d75050;

$gray: #777777;

$blue: #446bf1;

//Text color
$default-text-color: $gray;

$header-bg-color: $red;
$header-components-bg-color: $dark-red;
$header-components-border-color: $light-red;

$header-height: 55px;