<div class="header">
  <div class="header-content closed">
    <div ng-show="order.getTotalItemCount()==0">
      <div class="header-element">
        It's time to order some delicious food
      </div>
    </div>

    <div ng-hide="order.getTotalItemCount()==0">

      <div class="order-header">
        <p>Your Order</p>
        <p>A Delicious Restaurant</p>
      </div>

      <div class="order-list">

        <!--
        TODO:
        Create Directive to handle different courses Types,
        instead of cycling through the order items multiple times filtering the data
        -->

        <div ng-hide="filteredResults.length == 0" class="order-tag-type-count">
          {{filteredResults.length}} main
        </div>

        <div class="order-item" ng-repeat="item in order.getOrderItems() | hasTag:'main_courses' as filteredResults">
          <div class="item-quantity">
            <span class="order-item-inc" ng-click="item.addQuantityBy(1)">+</span>
            {{item.getQuantity()}}
            <span class="order-item-dec" ng-click="item.addQuantityBy(-1)">-</span>
          </div>
          <div class="item-info">
            <div class="item-name">{{item.getName()}}</div>
            <div class="item-special">+extra chili</div>
            <div class="item-total pound">{{item.getTotalPrice()}}</div>
          </div>
        </div>


        <div ng-hide="filteredOutResults.length == 0" class="order-tag-type-count">
          {{filteredOutResults.length}} other
        </div>

        <div class="order-item" ng-repeat="item in order.getOrderItems() | notHasTag:'main_courses' as filteredOutResults">
          <div class="item-quantity">
            <span class="order-item-inc" ng-click="item.addQuantityBy(1)">+</span>
            {{item.getQuantity()}}
            <span class="order-item-dec" ng-click="item.addQuantityBy(-1)">-</span>
          </div>
          <div class="item-info">
            <div class="item-name">{{item.getName()}}</div>
            <div class="item-special">+extra chili</div>
            <div class="item-total pound">{{item.getTotalPrice()}}</div>
          </div>
        </div>

      </div>

      <div class="order-total pound">
        {{order.getTotalOrderPrice()}}
      </div>

    </div>

  </div>
</div>