<ul class="meals">

  <li class="meal" ng-repeat="meal in menu.meals">
    <div class="meal-top">
      <img class="meal-image" ng-src="{{meal.primaryImageUrl}}">
      <span class="meal-price blue-btn sub">{{meal.price}}</span>


      <div class="meal-name-tag">
        <img class="card-curve transparent" src="/images/assets/meal-card__curve.svg">
        <div class="meal-name-wrapper">
          <h4 class="meal-name">{{meal.name}}</h4>
          <img class="card-curve" src="/images/assets/meal-card__curve.svg">
        </div>



<!--        <ul class="meal-tags">
          <li ng-repeat="tag in meal.tags">
            <p>{{tag}}</p>
          </li>
        </ul>-->
      </div>


    </div>

    <div class="meal-description">
      <p class="description">{{meal.description}}</p>
    </div>

    <div class="meal-add-to-order">
      <button class="blue-btn" ng-click="order.addOrderItem(meal)">
        Add To Your Order
      </button>
    </div>

  </li>
</ul>
