<ul class="meals">

  <li class="meal" ng-repeat="meal in menu.meals">
    <div class="meal-image">
      <img class="image" ng-src="{{meal.primaryImageUrl}}">
      <span class="meal-price">{{meal.price}}</span>
    </div>

    <div class="meal-name">
      <h4 class="name">{{meal.name}}</h4>
    </div>

    <ul class="meal-tags">
      <li ng-repeat="tag in meal.tags">
        <p>{{tag}}</p>
      </li>
    </ul>

    <div class="meal-description">
      <p class="description">{{meal.description}}</p>
    </div>

    <div class="meal-add-to-order">
      <button ng-click="order.addOrderItem(meal)">
        Add To Your Order
      </button>
    </div>

  </li>
</ul>
